body {
    display: grid;
    grid-template-areas:
            "header"
            "pages"
            "main"
            "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 1fr 100px;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas:
            ". logo nav nav .";
    grid-template-columns: minmax(16px, 1fr) 200px minmax(auto, 800px) 50px 1fr;
    background-color: var(--c-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    align-self: start;
    position: sticky;
    top: -40px;
    height: 100px;
}

main {
    grid-area: main;
    /* align-self: stretch; */
    padding-left:16px;
    padding-right:16px;
}

footer {
    grid-area: footer;
    background-color: var(--c-bg-dark);
    padding-top:16px;
    color: var(--c-bg-light);
}

nav a {
    display:none;
}


aside#right {
    display:none;
}

aside {
    align-self: start;
    top: 100px;
}
aside#left {
    grid-area:pages;
    display: none;
    align-self: start;
    padding-left:0;
    background-color: #d7d7d7;
}
.page-link, .section-link {
    width:100%;
    padding-left:16px;
    padding-bottom:0;
    border-bottom: 2px #fff solid;
}

.page-link:hover, .section-link {
    border-bottom: 2px solid var(--c-brand);
}


aside#left div#sections {
    display: none;
}

footer {
    padding: 16px;
}

