:root {
    scroll-behavior: smooth;
    --c-brand: #f58220;
    --c-brand-light: #f58220;
    --c-text: #1d1d67;
    --c-text-accent: var(--c-brand);
    --c-text-light-1: #2c2c83;
    --c-text-light-2: #3939b4;
    --c-text-light-3: #7878ee;
    --c-text-light-grey: #949494;
    --c-bg: #e7e7e7;
    --c-bg-light: #f3f3f3;
    --c-bg-superlight: #fafafa;
    --c-bg-dark:#555555;
    --c-bg-blockquote: #eff8ff;
    --fontfamily: 'Helvetica Neue', 'Arial', sans-serif;
    --codefont: 'Azeret Mono', monospace;
    --lineheight: 1.8rem;
    --fontsize: 14px;
}

body {
    padding:0px;
    margin:0px;
    font-family: var(--fontfamily);
    font-weight: 400;
    font-size: var(--fontsize);
    color: var(--c-text);
    line-height: var(--lineheight);
    background-color: var(--c-bg-light);
}

h1, h2, h3 {
    font-weight: 700;
    color: var(--c-text-light-1);
}

h1 {
    line-height: calc(var(--lineheight) * 1.5);
}

h2 {
    line-height: calc(var(--lineheight) * 1.2);
}

/* Logo */
.logo_standard {
    width:82%;
    align-self:center;
    transition: width 0.4s;
}

.logo_small {
    width:65%;
    align-self:end;
    margin-bottom:6px;
    transition: width 0.4s;
}


img#logo {
    grid-area: logo;
    margin-left:0px;
}

nav {
    grid-area: nav;
    align-self: end;
    display: flex;
    justify-content: flex-end;
    padding-right:16px;
}

nav a {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 16px;
}

a {
    text-decoration: underline;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: var(--c-text-light-1);
    padding-bottom:2px;
}

aside a, footer a {
    display: block;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid var(--c-brand);
    padding-bottom:0;
    text-decoration: none;
}

footer a {
    color: var(--c-bg-light);
}

a#menu {
    display:flex;
    border: 2px solid #666666;
    padding-top: 2px;
    padding-bottom:0;
    padding-left:2px;
    padding-right:2px;

}

a#menu:hover {
    color:orange;
}

footer div#links {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

footer a#previous-link {
    display: flex;
    align-self: flex-start;
}

footer a#next-link {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

footer div#copyright {
    grid-area: copyright;
    align-self: start;
    text-align: center;
}

div.toc ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
}

main {
    padding-top:16px;
}


.video-wrapper {
    position: relative;
    margin-top:2rem;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

blockquote {
    background-color: var(--c-bg-blockquote);
    border-left: 5px solid var(--c-text-light-1);
    padding:8px;
    border-radius:4px;
    margin:0;
}

pre[class*="language-"] > code {
    border-left: 4px var(--c-text-light-1) solid;
    border-radius:4px;
    box-shadow: -1px 0px 0px 0px var(--c-text-light-1), 0px 0px 0px 1px #dfdfdf;
}

pre[class*="language-"] {
    z-index: -1;
}